.main{
  border: 1px solid black;
  margin: auto;
  width: 460px;
  height: 300px;
  display: flex;
  box-shadow: 10px 10px 50px #888888;

}
.left{
  float: left;
  width: 230px;
  height: 100%;
  background: #262626;
  color: white;
  padding-left: 70px;;
  padding-top: 120px;

}
.right{
  float: right;
  width: 230px;
  height: 100%;
}

.top{
  background: #cec;
  height: 50%;
}

.bottom{
  background: #669999;
  height: 50%;
}

.top img{
  margin-top: 40px;
  margin-left: 70px;
}

.temp{
  font-size: 32px;
  width: 230px;

}

.loc{
  font-size: 18px;
  width: 230px;
}
