.main{
  border: 1px solid black;
  margin: auto;
  width: 460px;
  height: 300px;
  display: flex;
  box-shadow: 10px 10px 50px #888888;
  margin-top: 60px;
}

.left{
  float: left;
  width: 230px;
  height: 100%;
  background: #262626;
  color: white;
  text-align: center;
}

.right{
  float: right;
  width: 230px;
  height: 100%;
}

.top{
  text-align: center;
  font-weight: bold;
  color: black;
  background: #cec;
  height: 50%;
}

.bottom{
  background: #669999;
  height: 50%;
  color: white;
  font-weight: bold;
}

.top .image{
  padding-top: 30px;
}

.temp{
  font-size: 32px;
  width: 230px;
  padding-top: 110px;
}

.loc{
  font-size: 18px;
  width: 230px;
}

body, html{
  height: 100%;
}

body{
  background-repeat: no-repeat;
  height: 100%;
  background-position: center;
  padding: 0px;
  margin: 0px;
  background-image: url("imgs/back-min.jpg");
  background-size: cover;
}

.humidity{
  text-align: center;
  font-size: 20px;
  display: block;
  padding-top: 40px;
}

.wind{
  font-size: 20px;
  display: block;
  text-align: center;
}
